/*======================================== */
/* CSS RESET ============================= */
/* ======================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
    height: 100%;
}
label:hover {
    cursor: pointer;
}
/*======================================== */
/* HEADER ============================= */
/* ======================================= */
.page-header {
    height: 50px;
    width: 100%;
    background: #0d0d0c;
    color: rgb(191, 191, 191)
}
.page-header a {
    color: inherit;
}
.header-left {
    float: left;
    display: flex;
    height: 100%;
}
.header-right {
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
}
.page-search {
    position: relative;
}
.search-switcher-label {
    margin: 0 15px;
}
.page-search-field {
    width: 970px;
    display: none;
    position: absolute;
    right: 40px;
    top: -7px;
    font-size: 16px;
    padding: 5px;
    height: 30px;
    -webkit-appearance: textfield;
    font-weight: 300;
}
#search-switcher:checked~.page-search-field {
    display: block;
}
.search-switcher-label-right {
    display: none;
    background: transparent;
    position: absolute;
    right: 50px;
    color: black;
}
#search-switcher:checked~.search-switcher-label-right {
    display: block;
}


.page-nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15px;
}
.page-nav ul li::after {
    content: '|';
    margin-left: 5px;
    
}
.page-logo {
    position: relative;
    width: 60px;
}
.page-nav a:hover {
    color: white;
}
.page-logo img {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.page-nav ul li {
    margin: 0 0 0 5px;
    text-transform: capitalize;
    
}
.page-nav ul li:last-child::after {
    content: "";
}
.international-block {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50px;
    padding: 8px 15px 15px;
    width: 250px;
    left: -70px;
    box-sizing: border-box;
    font-weight: 300;
    display: none;
    z-index: 3;
}
#international-switcher:checked~.international-block {
    display: block;
}
.international-edition {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.international-block ul {
    text-align: right;
}
.international-block ul li {
    margin-bottom: 20px;
    padding: 0 15px;
    
}
.international-block hr {
    background: transparent;
    border: 0;
    border-top: 1px solid #bfbfbf;
}
.international-block p {
    text-align: right;
}
.flex-block {
    display: flex;
}
.row-block.flex-block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
}
.row-block.flex-block label:nth-of-type(1) {
    margin-right: auto;
}
.row-block.flex-block input {
    margin-right: 5px;
}
.confirm {
    border: 1px solid #bfbfbf;
    background: transparent;
    color: #bfbfbf;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
.row-block.flex-block:nth-of-type(2) {
    justify-content: flex-end
}
.header-expanded-menu {
    /* position: relative; */
}
.header-expanded-menu-block {
    width: 100vw;
    /* height: 400px; */
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50px;  
    right: 0; 
    display: none;
    z-index: 200;
}
#expanded-switcher:checked~.header-expanded-menu-block {
    display: block;
}
.expanded-top-block {
    padding-top: 15px;

}
.expanded-top-block h3 {
    font-size: 22px;
    font-weight: 300;
    color: white;
    margin-bottom: 15px;
    margin-top: 10px;
}
.expanded-top-block a {
    font-size: 14px;
    color: #bfbfbf;
    line-height: 1.5;
}
.expanded-top-block .col-2 {
    padding-left: 0;
    padding-right: 0;
}
.expanded-bottom-block .international-block {
    display: flex;
    position: static;
    align-items: center;
    width: 80%;
    background: transparent;
    justify-content: flex-start;
    padding-left: 0;
    
    
    
}
.expanded-bottom-block .international-block ul {
    display: flex;
    align-items: center;

}

.expanded-bottom-block .international-block ul li {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.expanded-bottom-block .international-block  hr {
    display: none;
}
.expanded-bottom-block .international-block img {
    height: 30px;
    margin-right: 5px;
}
.expanded-bottom-block .international-block ul li:first-child{
    padding-left: 0;
}
.expanded-bottom-block .international-block p {
    font-size: 13px;
    margin: 0 15px 0 30px;
}
.expanded-bottom-block .row-block.flex-block label:nth-of-type(1) {
    margin-right: 15px;
}
.expanded-bottom-block .international-block label {
    font-size: 13px;
    margin-right: 15px;
}
.expanded-bottom-block .international-block input {
    font-size: 10px;
}
/* ===============MAIN=================== */
main .wrapper {
    margin-top: 35px;
}
h1 {
    font-size: 55.44px;
    font-weight: 500;
    text-align: center;
    color: #262626;
    line-height: 1.11;
}
article img {
    width: 100%;
}
.bold {
    font-weight: bold;
}
.image-label {
    background: rgb(204,0,0);
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    width: auto;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
}
.label-block {
    position: absolute;
    left: 0;
    bottom: 2px;
}
.image-block {
    position: relative;
}
article h3 {
    font-size: 16px;
    line-height: 20px;
    color: rgb(38, 38, 38);
    margin: 7px 0;
}
.last-news a {
    font-size: 15px;
    font-weight: 300;
    color: rgb(38, 38, 38);
    
    
}
.last-news li {
    padding: 7px 0;
    border-top: 1px solid #d9d9d9;
}
.play::after {
    content: "\f144";
    font-family: "font awesome 5 free";
    margin-left: 7px;
    color: #a6a6a6;
}
.semi-grey {
    font-size: 21px;
    background: #e6e6e6;
    padding: 10px 10px 15px;
    text-align: center;
    position: relative;
    margin: -23px 30px 0;
    z-index: 100;
}
article {
    margin-bottom: 30px;
}
.category {
    color: #404040;
    background: #f2f2f2;
    padding: 7px;
    font-weight: bold;
}
.col-5 .no-margin .image-block .image-label {
    bottom: 100%;
}
.middle-size {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
}
.full-width-heading {
    color: rgb(38, 38, 38);
    background: #d6d6d6;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.13;
    padding: 7px 10px;
    margin: 0;
}
.no-margin {
    margin: 0;
}
.top-border {
    border-top: 1px solid #d9d9d9;
}
.small-size {
    font-size: 15px;
    font-weight: 300;
}
.with-opacity {
    background: rgba(250, 250, 250, 0.85);
}
.section-heading {
    color: #262626;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 15px;

}
.section-heading::after {
content: ".";
font-size: 0;
height: 9px;
width: 100%;
margin-left: 5px;
border-top: 4px solid #d9d9d9;
border-bottom: 4px solid #d9d9d9;
}
.dark-section {
    background: #1a1a1a;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}

.dark-section .section-heading::after {
    border-color: #c00;
}
.dark-section .image-label {
    background: #fff;
    color: #c00;
    bottom: 100%;
}
.dark-section .with-opacity {
    background: rgb(38, 38, 38, 0.85);
    padding: 7px 10px;
    
}
.dark-section h3 {
    color: #fff;
    padding-top: 20px;
    

}
.dark-section .wrapper {
    margin-top: 0;
}

/* ==============PAGE FOOTER============ */

.page-footer {
    background: #0c0c0c;
    
    padding-bottom: 30px;
}
.page-footer a {
    color: #bfbfbf;
}
.footer-top-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 20px;
}
.footer-weather {
    display: flex;
    align-items: center;
    color: #fff;
    
}
.footer-weather img {
    margin: 0 10px;
}
.footer-top-block .search {
    background: #262626;
    width: 320px;
    height: 35px;
    border: 0;
    color: #bfbfbf;
    font-size: 16px;
    outline: none;
    padding: 6px 45px 6px 12px;
}
.footer-top-block .search-block label {
    margin-left: -40px;
    color: white;
    font-size: 22px;
}
.footer-top-block .search-block {
    display: flex;
    align-items: center;
}

